@model System.Collections.Generic.IEnumerable<MusicHub.Song>

@section js {
    <script type="text/javascript" src="~/scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.signalr-0.5.3.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.js"></script>

    <script type="text/javascript" src="~/scripts/knockout-2.2.0.debug.js"></script>

    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/scripts/musichub.js"></script>

    <script type="text/html" id="user-template">
        <li data-bind="text: display"></li>
    </script>

    <script type="text/html" id="library-template">
        <li>
            <div>
                <span data-bind="text: name"></span>
                (<span data-bind="text: songCount"></span>
                songs)
            </div>
            <form method="post" action="/Home/RemoveLibrary">
                <input type="hidden" name="libraryId" data-bind="value: id" />
                <input type="submit" value="remove" />
            </form>
            <form method="post" action="/Home/ResyncLibrary">
                <input type="hidden" name="libraryId" data-bind="value: id" />
                <input type="submit" value="resync" />
            </form>
        </li>
    </script>

    <script type="text/html" id="log-row">
        <div data-bind="text: $value"></div>
    </script>
}

<div class="now-playing" data-bind="visible: currentSongTitle">
    <h1 data-bind="text: currentSongTitle"></h1>
    <h2 data-bind="text: currentSongArtist"></h2>

    <img class="artist-image" alt="artist image" />

    <p class="artist-description"></p>
    <p class="track-description"></p>

    <div id="music-controls">
        <span class="status" data-bind="text: currentStatus"></span>
        <span class="progress"></span>
        <input type="button" name="music-control" value="hate" data-bind="click: hate" />
        <input type="button" name="music-control" value="love" data-bind="click: love" />
    </div>
</div>

@if (this.Request.IsLocal) {
    <div class="admin-controls">
        <h2>Admin controls</h2>
        <input type="button" name="music-control" value="stop" data-bind="visible: canStop, click: stop" />
        <input type="button" name="music-control" value="play" data-bind="visible: canPlay, click: play" />
        <input type="button" name="music-control" value="skip" data-bind="visible: canSkip, click: next" />
    </div>
}
    

<div id="users-container">
    <h1>Users</h1>

    <ul class="users" data-bind="template: { name: 'user-template', foreach: users }" />
</div>

<div id="libraries-container">
    <h1>Libraries</h1>

    <ul class="libraries" data-bind="template: { name: 'library-template', foreach: libraries }" />

    <form id="create-shared-folder-library" action="Home/AddSharedFolderLibrary" method="post">
        <label for="new-library-path">Add shared folder:</label>
        <input type="text" id="new-library-path" name="path" data-bind="newLibraryPath" placeholder="path"
               data-val="true" data-val-required="Path is required" data-val-regex="Must begin with '\\'" data-val-regex-pattern="^\\\\.*" />
        <input type="submit" value="Add" />
        <span data-valmsg-for="path" data-valmsg-replace="true"></span>
    </form>

    <form id="create-google-music-library" action="Home/AddGoogleMusic" method="post">
        <label for="new-library-path">Add Google Music account:</label>
        <input type="text" name="username" placeholder="username"
               data-val="true" data-val-required="Username is required" />
        <input type="password" name="password" placeholder="password"
               data-val="true" data-val-required="Password is required" />
        <input type="submit" value="Add" />
        <span data-valmsg-for="path" data-valmsg-replace="true"></span>
    </form>
</div>

<div class='status' data-bind="template: { name: 'log-row', foreach: log }"></div>